*~

*.pyc

widget_data*
*.db
*.data
log.txt*
log-db.txt*
static/

initial_preferences.json

build
dist
*.egg-info
RELEASE-VERSION
plugins/sdist
project/settings_local.py

docs/html

*.swp
.DS_Store
.idea/
