include README.rst
include MANIFEST.in
include LICENSE
recursive-include rvbd_common/apps/console/templates *.html *.js *.css
recursive-include rvbd_common/apps/datasource/templates *.html *.js *.css
recursive-include rvbd_common/apps/devices/templates *.html *.js *.css
recursive-include rvbd_common/apps/geolocation/templates *.html *.js *.css
recursive-include rvbd_common/apps/help/templates *.html *.js *.css
recursive-include rvbd_common/apps/plugins/templates *.html *.js *.css
recursive-include rvbd_common/apps/preferences/templates *.html *.js *.css
recursive-include rvbd_common/apps/report/templates *.html *.js *.css
recursive-include rvbd_common/apps/report/static *.html *.js *.css
global-exclude *~
