@media print  
{
    div{
        page-break-inside: avoid;
    }
}

.span1, .span2, .span3, .span6, .span12 { 
    border: solid 1px black;
    margin-bottom: 10px;                                          
 }

@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 42px;
  }
}
