<script>
    function dismiss_announcement(url, id) {
        $.post(
            url,
            {"csrfmiddlewaretoken": "{{ csrf_token }}"},
            function(data) {
                $('#'+id).fadeOut();
            },
            "json"
        );
    };
</script>

<div class="announcements">
    {% for announcement in announcements_list %}
        <div id="id_announcement_{{ forloop.counter }}" class="announcement">
            <strong>{{ announcement.title }}</strong><br />
            {{ announcement.content }}
            {% if announcement.dismiss_url %}
                <a href="#" onclick="dismiss_announcement('{{ announcement.dismiss_url }}', 'id_announcement_{{ forloop.counter }}')" class="ajax">
                    Clear
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
