
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Portal: {{ report.title }} Report{% endblock %}</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen, print"/>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}jquery-timepicker/jquery.timepicker.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}bootstrap-select/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-select/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}showLoading/js/jquery.showLoading.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-timepicker/jquery.timepicker.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-widgets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-yui3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-google-maps.js"></script>

    {% block header %}{% endblock %}


  </head>
  <body>
    <div class="navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="container">
        <a class="brand" style="vertical-align: bottom;padding-top: 8px" href="/" alt="Riverbed"><img src='{{ STATIC_URL }}images/riverbed-logo.png'/> Portal </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if reports %}
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for d in reports %}
                  <li><a href="/report/{{ d.slug }}">{{ d.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
                <li class="active">
                    <a href="/report"> Reports </a>
                </li>
              {% endif %}
              <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Help <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/help/profiler">Profiler Columns</a></li>
                      <li><a href="/help/shark">Shark Columns</a></li>
                  </ul>
              </li>

              {% block extra_nav_left %}
              {% endblock %}
            </ul>
            <ul class="nav pull-right">
              {% block extra_nav_right %}
              {% endblock %}

              {% if django_version.1 >= 5 %}
                  <li class="active pull-right">
                      <a href="/console">Console</a>
                  </li>
              {% endif %}
                <li class="active">
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-edit icon-white"></i> Configure <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/preferences"><i class="icon-list"></i> Preferences</a></li>
                            <li><a href="/data/devices"><i class="icon-pencil"></i> Edit Devices</a></li>
                            {% if reports and 'report' in request.path %}
                                <li><a href="reload"><i class="icon-repeat"></i> Reload This Report</a></li>
                            {% endif %}
                            <li><a href="/report/reload"><i class="icon-retweet"></i> Reload All Reports</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span6">
          {% block header_row %}{% endblock %}
        </div>
        {% block login %}
        <div class="span6">
            <div class="pull-right">
                {% if user.is_authenticated %}
                    <small class="text-info pull-right">Welcome, <a href="/preferences">{{ user.username }}</a> <a href='/accounts/logout/'> [logout] </a></small>
                {% else %}
                    <small class="text-info pull-right"><a href='/accounts/login?next={{ request.path }}'> [login] </a></small>
                {% endif %}
                <br><small id="report_datetime" class="text-info pull-right">{% now "jS F Y H:i:s" %}</small>
                <br><small id="report_timezone" class="text-info pull-right">{{ TIME_ZONE }}</small>
            </div>
        </div>
        {% endblock %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>

