
<!DOCTYPE html>
<html>
  <head>
    <title> {{ report.title }}</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen, print"/>
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet"/>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}showLoading/js/jquery.showLoading.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-widgets.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-yui3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/rvbd-google-maps.js"></script>

    {% block header %}{% endblock %}


  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://www.riverbed.com"> Riverbed </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if reports %}
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for d in reports %}
                  <li><a href="/report/{{ d.id }}">{{ d.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
                <li class="active">
                    <a href="/report"> Reports </a>
                </li>
              {% endif %}

              <!--
              <li class="active">
                <a href="/report/{{ report.id }}/configure">Configure</a>
              </li>
              -->
              {% block extra_nav_left %}
              {% endblock %}
            </ul>
            <ul class="nav pull-right">
              {% block extra_nav_right %}
              {% endblock %}

              {% if django_version.1 >= 5 %}
                  <li class="active pull-right">
                      <a href="/console">Console</a>
                  </li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>

